/* https://neumorphism.io/#212130 */
.widget-weather {
  width: 500px;
  aspect-ratio: 1 / 0.95;
  color: whitesmoke;
  border-radius: 33px;
  background: linear-gradient(145deg, #1e1e2b, #232333);
  box-shadow: 35px 35px 70px #181824, -35px -35px 70px #2a2a3c;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

.container
{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  
}


.lds-circle {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  transform: translateZ(1px);
  justify-content: center;
  align-items: center;
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.head
{
   display: flex; 
   justify-content: center;
   box-sizing: border-box;
   margin-bottom: 25px;
  
}
.weather
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
