<!-- <div className="main">
    <div className="table">

      <div className="td">
      <img src="./img/why-us.jpg" class="img-fluid" alt=""/>
        <p className="title">
        Lorem Ipsum
        </p>
        <p className="text">

        </p>

      </div>
      <div className="td">
        <p className="title"></p>
        <p className="text">

        </p>

      </div>
      <div className="td">
        <p className="title"></p>
        <p className="text">

        </p>

      </div>
      <div className="td">
        <p className="title"></p>
        <p className="text">

        </p>

      </div>
    </div>

  </div> -->





  <!-- .main
{
  width: 100%;
  height: auto;
  align-items: center;
  position: relative;
  
  
}
.table
{
  
  display: flex;
  flex-direction: row;
}
.td
{
  background-color: azure;
  height: 305px;
  width: 305px;
  color: black;

}
.img-fluid {
  max-width: 100%;
  height: auto;
} -->