.con
{
    color: black;
}
/* .black
{
    width: 100px;
    height: 100px;
} */
 .text{
    height: 60px;
    width: 450px;
    
}
.grid
{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr ;
   
   
}
.container
{
    
    justify-content: center;
    margin-left: 20%; 
    margin-right: 20%;
    box-sizing: border-box;
    display: grid;

    align-items: center;
    
}
.hr
{
    margin-top: 40px;
    margin-bottom: 40px;
    border-top-style: dotted;
    width: 100%;
    box-sizing: border-box;

}
.text2
{

}
footer
{
    color: #919191;
    background-color: #232323;
    border-bottom: 1px solid #333333;
    width: 100%;
    box-sizing: border-box;
    height: 421px;
    
}
.ftr
{
    margin-left: 20%; 
    margin-right: 20%;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    
}